[Desktop Entry]
Name=zigshell-cairo-pango (Two-Row Mode)
Comment=Bottom zigshell-cairo-pango 2-row dock
Exec=/home/naranyala/.local/bin/toggle-shell tworow
Type=Application
Terminal=false
Categories=System;
OnlyShowIn=LXQt;
