#Api2
# Bottom taskbar config
Theme = "Adwaita-dark"

bar {
  edge = "bottom"
  layer = "top"
  mirror = "*"
  exclusive_zone = "auto"

  taskbar {
    rows = 1
    icons = true
    labels = true
    css = "* { -GtkWidget-hexpand: true; }"
    action[RightClick] = Menu("window")
    action[MiddleClick] = Close
  }
}
